@import "reset";

body {
  font-family: Helvetica;
  font-size: 16px;
  line-height: 21px;
  background: lightgrey;
}

a {
  color: #800000;
}

// NAV

.nav li {
    border-bottom: 3px solid #333;
}

// When I'm on the homepage,
// the "home" nav should be active

// When I'm on the purchase page,
// the "purchase" nav should be active

// ETC

// CONTENT

.wrap {
    background:url(http://www.settlersstrategy.com/wp-content/uploads/2013/06/DualPort.jpg);
    background-position: center center;
    background-size: cover;
    min-height: 600px;
    padding-top: 100px;
    padding-bottom: 100px;
}

%container {
    max-width: 1200px;
    margin: 0 auto;
}

.hero-grid {
    @extend %container;
}

.hero-text {
    // border: 1px solid blue;
    background: white;
    padding: 1.2em 1.4em;
    font-size: 20px;
    line-height: 1.4;
}

section.products {
    padding: 100px 0;
    @extend %container;

    div {
        // border: 1px solid blue;
    }
}





